  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  /* hide close button on marker */
  .gm-style-iw+div {
    display: none;
  }

  /* center name on marker */
  div.gm-style-iw {
    left: 27px !important;
  }

  .main-bg {
    height: 100%;
    background-image: url('../img/map.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  form {
    background: white;
    border: 5px solid darkcyan;
    padding: 72px;
    width: 70%;
    margin: 0 auto;
    position: relative;
    top: 26%;
  }

  button {
    width: 50%;
  }

  .button {
    text-align: center;
  }

  .success-hide {
    display: none;
    width: 30%;
    text-align: center;
    position: absolute;
    z-index: 1;
    bottom: 2px;
    right: 32%;
  }

  .serverdownalert {
    display: none;
    text-align: center;
    margin-bottom: 0;
  }

  .spinner-1:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 50%;
    border: 3px solid lightgray;
    border-top-color: coral;
    animation: spinner 0.7s linear infinite;
    z-index: 1;
  }

  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }

  @media only screen and (max-width: 700px) {
    form {
      width: 97%;
      padding-bottom: 100px;
      padding-top: 100px; 
    }
    .main-bg {
      text-align: center;
    }
}

@media only screen and (max-width: 715px) {
  .success-hide {
    font-size: 15px;
    width: 70%;
    right: 20%;
  }
}

@media only screen and (max-width: 420px) {
  form {
    padding: 14px;
    padding-bottom: 77px;
    padding-top: 77px;
  }
}




